@font-face {
    font-family: 'Amatic-SC';
    src: url('./Amatic_SC/AmaticSC-Regular.ttf') format('truetype'),
      url('./Amatic_SC/AmaticSC-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
    margin: 0;
    font-family: 'Amatic-SC', sans-serif;
}

body {
    width: 100vw;
    height: auto;
    background-image: url("./Images/pizza-pepperoni-944464-pxhere.com.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 50px;
    width: 100%;
    padding: 10px;
}

.nav-button {
    background-color: transparent;
    background-repeat: no-repeat;
    color: white;
    border: none;
    overflow: hidden;
    outline: none;
    font-size: 24px;
    cursor: pointer;
}


.main-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text {
    font-size: 120px;
    color: white;
    text-align: center;
}

.btn-main-menu {
    width: 200px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.open-text {
    background-color: black;
    color: white;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
}

.menu-page {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.menu-title {
    font-size: 60px;
    color: white;
    margin-top: 100px;
    margin-bottom: 30px;
}

.menu-container {
    border: 0.5px solid white;
}

.menu-buttons {
    background-color: black;
    color: white;
    width: 225px;
    height: 60px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.menu-buttons.PIZZA {
    background-color: red;
}

.menu-buttons:active {
    background-color: red;
}

.menu-buttons:hover {
    background-color: red;
}

.menues {
    width: 100%;
    height: auto;
}

.menu-item {
    width: 100%;
    height: auto;
    padding: 0px 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-dish {
    width: 100%;
    height: 100%;
    font-size: 25px;
    & .dish-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
    }
    & span {
        width: 60px;
        height: 40px;
        background-color: grey;
        color: white;
        border-radius: 5px;
        text-align: center;
        margin: 10px 0px;
    }
    & hr {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.about-page {
    width: 100%;
    height: auto;
    background-color: rgba(139,95,91,255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    font-size: 60px;
    color: white;
    margin-top: 100px;
    margin-bottom: 30px;
}

.about-content {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.about-text {
    color: white;
    text-wrap: wrap;
    font-size: 20px;
    margin-bottom: 15px;
}

.opening-hours {
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
}

.hours-container {
    display: flex;
    flex-direction: row;
    & div {
        margin-right: 100px;
    }
    & p {
        color: white;
        font-size: 20px;
        margin-bottom: 15px;
    }
}
